@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,500;1,600&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
header
{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(20,20,20,0.5);
}

.img-wrapper img
{
    width: 100%;
    height: 100%;    
    object-fit: cover;
    opacity: 0.5;
    animation: brighter 10s, zoom 10s;
}
@keyframes brighter
{
    0%
    {
        filter: brightness(0.5);
        -webkit-filter:brightness(0.5);
    }
    100%
    {
        filter: brightness(1);
        -webkit-filter:brightness(1);
    }
}
@keyframes zoom
{
    0%
    {
        transform: scale(1.2);
    }
    100%
    {
        transform: scale(1.0);
    }
}
.banner
{
    position: absolute;
    top: 30%;
    left: 12%;
}
.banner h1
{
    color: aliceblue;
    font-size: 3.5rem;
    font-family: "Roboto", serif;
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(20,20,20,.4);
    line-height: 5rem;
    margin-bottom: 2rem;
 
}
.banner p
{
    font-family: "Courier Prime", serif;
    color: aliceblue;
    font-size: 3rem;
    text-shadow: .1rem .1rem 2px rgba(20,20,20,.4);
    overflow: hidden;
    display: inline-block;
    letter-spacing: 2px;
    width: max-content;
    animation: typing 6s steps(13, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 50% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}

.home
{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#check
{
    display: none;
}
label #btn, label #cancel
{
    position: fixed;
    cursor: pointer;
}
label #btn
{
    font-size: 2rem;
    color: orange;
    text-shadow: 0.05rem 0.05rem #000;
    right: 2rem;
    top: 2rem;
    z-index: 4;
    transition: all .1s ease;
}
label #cancel
{
    z-index: 5;
    top: 2rem;
    right: -17rem;
    font-size: 2rem;
    color: darkred;
    text-shadow: 0.05rem 0.05rem #000;
    transition: all .9s ease;
}
#check:checked ~.sidebar
{
    right: 0;
}
#check:checked ~label #btn
{
    right: 5rem;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~label #cancel
{
    right: 17rem;
}
.sidebar
{
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1s ease;
  z-index: 3;
}
.menu
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    width: 100%;
}
.menu-item
{
    text-align: center;
    margin-bottom: .5rem;
}
.menu-link
{
    font-family: "Roboto", serif;
    font-size: 2rem;
    color: rgba(50,50,50,0.9);
    transition: color 1s;
    padding-left: 0;
    transition: padding-left 1s;
}
.menu-link:hover
{
    color: orange;
    padding-left: 2rem;
}
.social-media-menu
{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50%;
}
.social-media-menu i
{
    background-color: rgba(50,50,50,0.9);
    border-radius: 50%;
    color: whitesmoke;
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.social-media-menu i:hover
{
    background-color: orange;
}
.section-paragraph
{
    margin: auto;
    text-indent: 50px;
    text-align: justify;
    width: 60%;
    line-height: 1.8rem;
    font-family: "Roboto", serif;
    font-size: 1.2rem;
}
.section-header
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-header h2
{
    font-family: "Roboto", serif;
    font-size: 2.5rem;
    color: rgba(50,50,50,0.9);
    margin-bottom: 1.5rem;
    border-bottom: solid 3px rgba(50,50,50,0.3);
    text-transform: capitalize;
}
section
{
    min-height: 100vh;
    margin-top: 2rem;
}
.skills
{
    position: relative;
    display: flex;
    margin: auto;
    max-width: 60%;
    flex-wrap: wrap;
    z-index: 1;
}
.skills .card
{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.2);
    border-radius: 15px;
    background: rgba(255, 255, 255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.skills .card .content
{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}
.skills .card .content h2
{
    position: absolute;
    top: -40px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
}
.skills .card .content h3
{
    font-size: 1.8em;
    color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.skills .card .content p
{
    margin-top: 1rem;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    text-align: justify;
    transform: translateY(1000px);
    opacity: 0;
    transition: 0.7s;
}
.skills .card:hover .content p
{
    transform: translateY(0px);
    opacity: 1;
}
.skills .card .content i
{
    font-size: 10em;
    position: absolute;
    opacity: 0.1;
    transition: 1s;
    right: 2rem;
    top: 10rem;
    text-shadow: 
}
.skills .card:hover .content i
{
    opacity: 0;
}
html
{
    scroll-behavior: smooth;
}
footer
{
    width: 100%;
    height: 5rem;
    background: rgba(50,50,50,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content
{
    width: 60%;
    display: flex;
    justify-content:space-between;
}
.footer-content p
{
    color: whitesmoke;
    font-family: "Courier Prime", serif;
    text-transform: capitalize;
    font-size: 1.1rem;
}
.social_media a
{
    margin: 0 2rem;
    color: whitesmoke;
    font-size: 1.1rem;
}

.social_media ul 
{
    display: flex;
}
#seta_home
{
    position: fixed;
    right: 3rem;
    bottom: 5rem;
    width: 3rem;
    height: 3rem;
    opacity: 0.15;
    font-size: 1.3rem;
    background-color: rgba(50,50,50,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    color: whitesmoke;
    box-shadow: 0 0 0 .1rem #000000;
}
#seta_home:hover
{
    opacity: 1;
}
